:root{
    --bleuf-ecrit:rgb(7, 51, 65);
    --bg:#e8edf5;
    --bleuc-actif2:#d6dce6;
    --bleuc-actif:rgb(3, 126, 163);
    --bleu-menu:rgb(12, 95, 121);
    --bleuf-hover:rgb(0, 31, 41);
    --gris-hover:#cacfd6;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    height: 100%;
}

/*      Mise en forme selon la taille de l'ecran      */
@media screen and (min-width: 900px) {

    header.wideNavBar {
        color: #fff;
        margin:0;
        justify-content: space-between;
        border-bottom: 1px solid var(--bleuf-ecrit);
        display: flex;  
    }

    nav ul{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: end;
        margin:0;
    }

    nav ul a li {
        margin:0;
    }

    nav ul a{
        color: var(--bleuf-ecrit);
        text-decoration: none;
        padding:1rem 0.7rem 1rem 0.7rem;
        display: flex;
        flex-direction: column;
        align-items  : center;
        text-align: center;
        border-bottom: 3px solid var(--bleuf-ecrit);
    }

    nav ul a.active{
        color: var(--bleuc-actif);
        padding:1rem 0.7rem 1rem 0.7rem;
        text-decoration: none;
        text-align: center;
        border-bottom: 3px solid var(--bleuc-actif);
        background-color:var(--bleuc-actif2) ;
    }

    nav ul a:hover{
    border-bottom:3px solid var(--bleu-menu);
    background-color: var(--gris-hover);
    color: var(--bleuf-hover);
    }

    header.topmobile{
        display: none;
    }

    header.smallNavBar{
        display:none;
    }
}

/*Changement d'affichage losrque l'écran devient trop petit pour la lageur de la barre de nav*/
@media screen and (max-width: 900px) {

    header.wideNavBar{
        display: none;
    }

    p.topmobile{
        display: flex;
        background-color: #000000;
        height: 70px;
    }    

    header.smallNavBar{
        position: fixed;
        display: flex;
        top:0;
        left:0;
        width: 100%;
        margin:0;
        justify-content: space-between;
        background-color: var(--bg);
        border-bottom: 1px solid var(--bleuf-ecrit);
    }
    
    .smallNavBar .navbar {
        display: none;
        background-color: var(--bleu-menu);
        opacity:0.98;
        color: #fff;
        padding: 0px 20px;
        margin:0;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        flex-direction: column;
    }
/*           Texte de la navbar         */
    .smallNavBar .navbar ul {
        list-style: none;
        padding: 0;
    }

    .smallNavBar .navbar ul li {
        padding: 1rem 0rem 0rem 0.5rem;
    }

    .smallNavBar .navbar ul li a {
        color: #fff;
        text-decoration: none;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .smallNavBar .navbar ul li a.active {
        color: #000000;
    }

    .smallNavBar .navbar ul li a:hover {
        color: var(--bleuf-hover);
    }

/*      Boutons de la navbar        */
    .smallNavBar .nav-toggleOn {
        display: block;
        background-color: var(--bleu-menu);
        color: #fff;
        border: none;
        padding: 0.6rem 0.8rem 0.8rem 0.8rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 550;
        margin: 0.5rem 0.5rem;
    }

    .smallNavBar .nav-toggleOn:hover{
        color: #000000;
        cursor: pointer;
    }

    .smallNavBar .nav-toggleOn.active{
        display:none;
    }

    .smallNavBar .nav-toggleOff{
        display: none;
    }

    .smallNavBar .nav-toggleOff.active:hover{
        color:#000000;
        cursor: pointer;
    }

    .smallNavBar .nav-toggleOff.active{
        display: block;
        background-color:  var(--bleu-menu);
        color: #fff;
        border: none;
        padding: 5px 10px;
        font-size: 25px;
        cursor: pointer;
        position:fixed;
        right: 10.8rem;
        margin-top: 0.85rem;
        margin-bottom: 0.85rem;
    }

    .navbar.active {
        display: flex;
    }
}
/*          Contenu des pages           */
a.headernom{
    color: var(--bleuf-ecrit);
    padding: 1rem 1rem;
    font-weight: 700;
    font-size: 2.10rem;
    text-decoration: none;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.title {
    padding: 0.8rem 1rem 1rem 1rem;
    text-align: center;
    color: var(--bleuf-ecrit);
    border-bottom: 1px solid var(--bleuf-ecrit);
    border-top: 1px solid var(--bleuf-ecrit);
    margin-bottom: 2rem;
    background-color: white;
}

/*          ---bouton to top----            */
@media screen and (min-width: 900px) {
    .btotop{
        position: fixed;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: 800;
        right: 2rem;
        bottom: 2rem;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        color: black;
        border: 1px solid black;
        border-radius: 100%;
        background-color: var(--bleuc-actif);
        text-decoration: none;
        text-align: center;
        box-shadow: 2px 2px 15px #3d3d3d;
    }

    .btotop1{
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .btotop1{
        position: fixed;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: 800;
        right: 0.5rem;
        bottom: 1rem;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        color: black;
        border: 1px solid black;
        border-radius: 100%;
        background-color: var(--bleuc-actif);
        text-decoration: none;
        text-align: center;
    box-shadow: 2px 2px 15px #3d3d3d;
    }

    .btotop{
        display: none;
    }
}

/*          ---Sous fenetre---            */
@media screen and (min-width: 900px) {
    .soustab{
        display: flex;
        justify-content: center;
        margin:0;
        margin-top: -1.5rem;
    }

    .soustab ul a{
        text-decoration: none;
        text-align: center;
        color: #fff;
        background-color: var(--bleu-menu);
        padding: 0.6rem 0.8rem 0.8rem;
        margin:0 0.5rem 0 0;
        border-radius: 0.5rem;
        font-size: 1.6rem;
    }

    .soustab ul{
        display: flex;
        justify-content: center;
        margin: 0 0 0.5rem 0;
    }
    

}

@media screen and (max-width: 900px) {
    .soustab{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0;
        margin-top: -1.5rem;
    }

    .soustab ul a{
        text-decoration: none;
        text-align: center;
        color: #fff;
        background-color: var(--bleu-menu);
        padding: 0.6rem 0.8rem 0.8rem;
        margin:0 0.5rem 0rem 0;
        border-radius: 0.5rem;
        font-size: 1.6rem;
    }

    .soustab ul a:not(:last-child){
        margin:0 0.5rem 0.5rem 0;
    }

    .soustab ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 0.5rem 0;
    }
    
}

.soustab a{
    text-decoration: underline;
    margin: 0.5rem 0rem 0rem 0.5rem;
}

.soustab li{
    display:none;
}

.soustab ul a:hover{
    background-color: var(--bleuc-actif2);
    color: var(--bleuf-hover);
}


.content{
    width: 94%;
    margin: 1rem auto 2rem auto;
    background-color: white;
    border-radius: 30px;
    border: 1px solid rgb(205, 215, 235);
    box-shadow: 8px 8px 20px #999ca0;
}

.divt1{
    display:flex;
    margin: 0;
}

.divt2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divt3{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 756px) {
    a.at1{
       font-size: 1.5rem;
       font-weight: 600;
       display: flex;
       flex-direction: column;
       align-items  : center;
       text-align: center;
       margin:0;
    }   

    p {
        margin: auto auto auto 2rem;
    }
    
    .imgt1{
        margin: 2rem 2rem 2rem auto;
        width: 20%;
        border-radius: 50%;
        border: 1px solid #000000;
    }

}

@media screen and (max-width: 756px) {
    a.at1{
       font-size: 1rem;
       font-weight: 600;
       display: flex;
       flex-direction: column;
       align-items  : center;
       text-align: center;
       margin:0;
    }   

    p {
        margin: auto auto auto 0.7rem;
    }

    .imgt1{
        margin: 2rem 0.7rem 2rem auto;
        width:25%;
        border-radius: 50%;
        border: 1px solid #000000;
    }
}

.englCV{
    display: flex;
    width: 80%;
    margin-bottom: 3rem;
}

.englCV.active{
    display: none;
}

.frenchCV{
    display: none;
}

.frenchCV.active{
    display: flex;
    margin-bottom: 3rem;
    width: 80%;
}

.content p {
    display: flex;
    align-items: center;
}

.artt1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0rem 3rem 1rem 3rem;
}

.fieldsett1{
    padding:0;
    margin: 2rem 0;
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
}

.linke{
    border:none;
    padding: 0.25rem 0.5rem 0.5rem;
    margin: 0rem 0.5rem;
    border-radius: 10000px;
    font-size: 1.5rem;
    color: #000000;
    background-color:white ;
}

.frCV{
    border:none;
    padding: 0.25rem 0.5rem 0.5rem;
    margin: 0rem 0.5rem;
    font-size: 1.5rem;
    border-radius: 10000px;
    color: #000000;
    background-color:white ;
}

.enCV.radon{
    border:none;
    padding: 0.25rem 0.5rem 0.5rem;
    margin: 0rem 0.5rem;
    font-size: 1.5rem;
    border-radius: 10000px;
    color: #000000;
    background-color:white ;
}

.frCV.radon {
    border:none;
    padding: 0.25rem 0.5rem 0.5rem;
    margin: 0rem 0.5rem;
    font-size: 1.5rem;
    border-radius: 10000px;
    color:white;
    background-color: rgb(31, 31, 117);
}

.enCV {
    border:none;
    padding: 0.25rem 0.5rem 0.5rem;
    margin: 0rem 0.5rem;
    font-size: 1.5rem;
    border-radius: 10000px;
    color:white;
    background-color: rgb(31, 31, 117);
}

.fieldsett1 button:not(:disabled):hover {
    border:none;
    padding: 0.25rem 0.5rem 0.5rem;
    margin: 0rem 0.5rem;
    font-size: 1.5rem;
    color:white;
    background-color:rgb(54, 54, 197);
    border-radius: 10000px;
}


label:hover {
    background-color: rgb(54, 54, 197);
    color:white;
}

footer {
    background-color: rgb(5, 35, 44);
    color: #fff;
    text-align: center;
    padding: 0.90rem 0;
    margin-top: 4rem; 
    bottom: 0;
    width: 100%;
}







